@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  

.logo{
    width: 62px;
    height: 62px;
    position: relative;
}
nav{
   align-items: center;
   justify-content: center;
   display: flex;
   justify-content: space-between;
   
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin: 32px;
   

}
.spn2{
    font-size: 32px;
    font-weight: bold;
}
li{
    gap: 32px;
}
.btn1{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: semibold;
    font-size: 20px;
}
.logo.school{
    width: 123px;
    height: 30px;
    font-weight: bold;
    font-size: 32px;
 
}

nav ul li a{
    list-style: none;
    text-decoration: none;
}
.nn{
    color: #FEA301;
    font-size: 20px;
    font-weight: bold;
}
.nn2{
    color: #01ACFD;
    font-size: 20px;
    font-weight: bold;
}
.nn3{color: #05D4DF;
    font-size: 20px;
    font-weight: bold;
}
.nn4{color: #5D58EF;
    font-size: 20px;
    font-weight: bold;
    
}
.orng1{
    font-size: 3.5rem;
    color: #FEA301;
    font-weight: bold;

}
.orng2{
    font-size: 3.5rem;
    font-weight: bold;

}
.sp-12{
    color: #01ACFD;
}
.banner.1{
    font-size: 1.3rem;
    font-weight: bold;
    
}
.banner{
    display: flex;
    height: 575px;
    width: 1158.61px;
    gap: 50px;
}
.hero{

    width: 468.61px;
    height: 575px;
}
